@import '../../../../../node_modules/pdf.js/web/viewer.css';

.vue-pdfjs {
    height: 100%;
    width: 100%;

    .pdfViewer .page {
        box-sizing: content-box;
    }

    .appContainer {
        height: 100%;
        width: 100%;
        margin: 0;
        background-color: var(--vue-pdfjs-body-bg-color);
        scrollbar-color: var(--vue-pdfjs-scrollbar-color) var(--vue-pdfjs-scrollbar-bg-color);

        &.wait::before {
            content: "";
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 100000;
            cursor: wait;
        }
    }

    .hidden,
    [hidden] {
        display: none !important;
    }

    &--container-query {

        .appContainer {
            container-name: app-container;
            container-type: inline-size;
        }

        @container app-container (max-width: 840px) {
            #viewsManager {
                background-color: var(--vue-pdfjs-sidebar-narrow-bg-color);
            }

            #outerContainer.sidebarOpen #viewerContainer {
                inset-inline-start: 0 !important;
            }
        }

        @container app-container (max-width: 750px) {
            .hiddenMediumView {
                display: none !important;
            }

            .visibleMediumView:not(.hidden, [hidden]) {
                display: inline-block !important;
            }
        }

        @container app-container (max-width: 690px) {

            .hiddenSmallView,
            .hiddenSmallView * {
                display: none !important;
            }

            #toolbarContainer #toolbarViewer .toolbarButtonSpacer {
                width: 0;
            }
        }

        @container app-container (max-width: 560px) {
            #scaleSelectContainer {
                display: none;
            }
        }
    }
}